.about {
  background: $background-blue;
}

.about__wrapper {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 42px;
    color: $basic-white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
    width: 300px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 128px;
      left: -100px;
      width: 28px;
      height: 14px;
      background: $basic-blue;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      overflow: hidden;
    }

    &::after {
      content: "";
      position: absolute;
      top: 128px;
      right: -100px;
      width: 28px;
      height: 14px;
      background: $basic-blue;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}

.about__container {
  display: flex;
  justify-content: center;

  & img {
    border-radius: 10px;
  }

  &:nth-child(3) {
    padding-top: 80px;
    flex-direction: row-reverse;

    .about__inner-wrapper {
      padding-right: 0;
      padding-left: 60px;
    }

    .about__inner-wrapper h3 {
      margin-top: 40px;
    }
  }
}

.about__inner-wrapper {
  max-width: 500px;
  padding-right: 60px;

  & h3 {
    font-size: 24px;
    color: $basic-white;
    font-weight: 700;
    margin-top: 80px;
  }

  & p {
    font-size: 16px;
    color: $basic-white;
    font-weight: 300;
  }
}

@media (max-width: $half-desktop-width) {
  .about__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .about__container {
    &:nth-child(3) {
      .about__inner-wrapper {
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    & h2 {
      padding-top: 40px;
      font-size: 26px;
      padding-bottom: 0;

      &::before {
        background: none;
      }

      &::after {
        background: none;
      }
    }
  }

  .about__container {
    flex-direction: column;
    align-items: center;

    & img {
      width: 400px;
      height: auto;
    }

    &:nth-child(3) {
      padding-top: 20px;
      flex-direction: column;
      align-items: center;

      .about__inner-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .about__inner-wrapper {
    padding-right: 0;

    & h3 {
      margin-top: 20px;
      font-size: 18px;
    }
  }
}

@media (max-width: $half-mobile-width) {
  .about__container {
    & img {
      width: 88%;
    }
  }
}
