@font-face {
  font-display: swap;
  font-family: "Proxima-nova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/proxima-nova-300.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Proxima-nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/proxima-nova-400.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Proxima-nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/proxima-nova-700.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "El-messiri";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/el-messiri-700.woff") format("woff"); }

/* Colors */
/* Breakpoints */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.no-scroll {
  overflow: hidden; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 24;
  background: #000000;
  opacity: 0.6; }

.hidden {
  display: none; }

.page {
  font-family: "Proxima-nova", "Arial", sans-serif;
  font-weight: 400;
  height: 100%;
  scroll-behavior: smooth;
  color: #000000;
  background: #162831; }

.page-body {
  min-height: 100%;
  margin: 0;
  width: 100%;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.page-body a {
  text-decoration: none;
  color: #000000; }

/**
 * Swiper 8.1.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 24, 2022
 */
@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-pointer-events {
  touch-action: pan-y; }

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto; }

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px; }

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d; }

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15); }

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none; }

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999; }

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after); }

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after); }

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center; }

.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0); }

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none; }

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size); }

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size); }

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */ }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 80px;
  width: 55px;
  height: 55px;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color)); }
  .swiper-button-prev svg:active,
  .swiper-button-next svg:active {
    transform: translateY(2px); }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }
  .swiper-button-prev.swiper-button-disabled svg,
  .swiper-button-next.swiper-button-disabled svg {
    fill: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: 0.35; }

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1; }

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: auto;
  right: 100px; }

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 30px;
  left: auto; }

.swiper-button-lock {
  display: none; }

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */ }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 3px;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); }
  .swiper-pagination-bullet:last-child {
    margin-right: 0; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet:only-child {
  display: none !important; }

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ffffff; }

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block; }

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px; }

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top; }

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px); }

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  top: auto;
  bottom: 18px;
  right: 2px;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 400px; }

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left; }

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, #EA7F1E);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top; }

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top; }

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-lock {
  display: none; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
:root {
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  */ }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent; }

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear; }

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff; }

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000; }

@-webkit-keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out; }

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity; }

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-cube {
  overflow: visible; }

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0; }

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-cube .swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0; }

.swiper-cube .swiper-cube-shadow:before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px); }

.swiper-flip {
  overflow: visible; }

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-flip .swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height; }

.swiper-cards {
  overflow: visible; }

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }

.header {
  background: #162831; }

.header__wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 50px;
  position: relative;
  padding-left: 16px;
  padding-right: 16px; }
  .header__wrapper::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: #ffffff; }
  .header__wrapper .header__call {
    font-size: 14px;
    color: #ffffff;
    font-family: inherit;
    background: #018abe;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s; }
    .header__wrapper .header__call:hover {
      background: #ffffff;
      box-shadow: 0 0 18px 0 #018abe;
      color: #018abe; }

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex; }

.header__nav-item {
  margin-right: 60px; }
  .header__nav-item:last-child {
    margin-right: 0; }
  .header__nav-item a {
    font-weight: 400;
    font-size: 15px;
    color: #ffffff; }
    .header__nav-item a:hover {
      text-decoration: underline; }
    .header__nav-item a:active {
      opacity: 0.6; }

.header__wrapper.no-lines::before {
  background: none; }

.header__mobile-menu {
  display: none;
  background: transparent;
  border: 0;
  margin-top: 2px; }

.header__mobile-menu-close {
  display: none;
  z-index: 46;
  background: transparent;
  position: fixed;
  right: 16px;
  border: 0; }

@media (max-width: 1200px) {
  .header__nav-item {
    margin-right: 28px; }
  .header__logo {
    width: 40px;
    height: 40px; } }

@media (max-width: 1023px) {
  .header__nav-list {
    position: fixed;
    background: #018abe;
    right: 0;
    top: 0;
    flex-direction: column;
    width: 300px;
    height: 360px;
    z-index: 40;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: skewY(5deg) translateY(-30px);
    transition: opacity 0.3s, transform 0.3s; }
  .header__call {
    margin-left: auto;
    margin-right: 20px; }
  .header__mobile-menu {
    display: block; }
  .header__nav-item {
    margin-top: 10px; }
    .header__nav-item a {
      font-size: 26px;
      margin-left: 20px; }
  .header__wrapper--active .header__nav-list {
    display: flex;
    padding-top: 30px;
    opacity: 1;
    transform: skewY(0) translateY(0);
    pointer-events: auto; }
  .header__wrapper--active .header__mobile-menu-close {
    display: block; } }

.promo {
  background: #162831;
  padding-bottom: 100px; }

.promo__wrapper {
  max-width: 1300px;
  margin: auto;
  height: 600px;
  background-color: transparent;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .promo__wrapper span {
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 24px;
    color: #ffffff;
    position: relative;
    margin-top: 140px; }
    .promo__wrapper span::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -100px;
      width: 28px;
      height: 14px;
      background: #ffffff;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px; }
    .promo__wrapper span::after {
      content: "";
      position: absolute;
      top: 8px;
      right: -100px;
      width: 28px;
      height: 14px;
      background: #ffffff;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px; }
  .promo__wrapper h1 {
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 64px;
    color: #ffffff;
    max-width: 500px;
    text-align: center;
    line-height: 86px; }

@media (max-width: 1400px) {
  .promo__wrapper {
    width: 97%;
    height: 550px; }
    .promo__wrapper h1 {
      font-size: 48px;
      max-width: 400px;
      line-height: 64px; } }

@media (max-width: 767px) {
  .promo__wrapper {
    height: 390px; }
    .promo__wrapper h1 {
      font-size: 40px;
      line-height: 46px; }
    .promo__wrapper span {
      margin-top: 100px; }
      .promo__wrapper span::before {
        left: -60px; }
      .promo__wrapper span::after {
        right: -60px; } }

@media (max-width: 500px) {
  .promo {
    padding-bottom: 50px; }
  .promo__wrapper span {
    font-size: 18px; }
    .promo__wrapper span::before {
      width: 22px;
      height: 10px;
      left: -40px; }
    .promo__wrapper span::after {
      width: 22px;
      height: 10px;
      right: -40px; }
  .promo__wrapper h1 {
    font-size: 32px;
    max-width: 300px; } }

.sessions {
  background: #162831; }

.sessions__wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sessions__wrapper h2 {
    font-family: "El-messiri", "Arial", sans-serif;
    color: #ffffff;
    font-size: 42px;
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 370px;
    position: relative; }
    .sessions__wrapper h2::before {
      content: "";
      position: absolute;
      top: 50px;
      left: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px; }
    .sessions__wrapper h2::after {
      content: "";
      position: absolute;
      top: 50px;
      right: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px; }

.sessions__list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-areas: "big-item item-1 item-2" "big-item item-3 item-4";
  grid-gap: 20px; }

.sessions__item {
  width: 416px;
  height: 258px;
  border-radius: 10px;
  background: url("../img/session-small.jpg");
  background-repeat: no-repeat;
  grid-area: item;
  position: relative;
  background-size: 100%;
  transition: background-size 0.3s; }
  .sessions__item a {
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 24px;
    color: #ffffff;
    z-index: 40;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end; }
  .sessions__item span {
    padding-bottom: 30px;
    padding-left: 30px; }
  .sessions__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 138, 190, 0.5);
    border-radius: 10px;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.4s, background 0.2s, opacity 0.7s, border-radius 0.4s; }
  .sessions__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background 0.2s; }
  .sessions__item:nth-child(1) {
    grid-area: big-item;
    width: 416px;
    height: 540px;
    background: url("../img/session-big.jpg");
    background-size: 100%;
    transition: background-size 0.3s; }
  .sessions__item:nth-child(2) {
    grid-area: item-1; }
  .sessions__item:nth-child(3) {
    grid-area: item-2; }
  .sessions__item:nth-child(4) {
    grid-area: item-3; }
  .sessions__item:nth-child(5) {
    grid-area: item-4; }
  .sessions__item:hover {
    background-size: 103%;
    transition: background-size 0.5s; }
    .sessions__item:hover::before {
      background: transparent;
      transform: translateY(-20px);
      opacity: 0;
      border-radius: 10px 10px 0 0;
      transition: transform 0.7s, background 0.2s 0.3s, opacity 0.6s, border-radius 0.2s; }
    .sessions__item:hover::after {
      background: #018abe; }

@media (max-width: 1400px) {
  .sessions__wrapper {
    padding-left: 16px;
    padding-right: 16px; }
  .sessions__list {
    grid-template-columns: 1fr 1fr 1fr; }
  .sessions__item {
    width: auto;
    background-size: cover; }
    .sessions__item span {
      padding-right: 16px; }
    .sessions__item:nth-child(1) {
      min-height: 100%; } }

@media (max-width: 1200px) {
  .sessions__item:nth-child(1) {
    width: auto;
    background-size: cover; } }

@media (max-width: 767px) {
  .sessions__wrapper {
    padding-left: 10px;
    padding-right: 10px; }
    .sessions__wrapper h2 {
      padding-bottom: 20px;
      font-size: 26px;
      width: 220px;
      overflow: hidden; }
      .sessions__wrapper h2::before {
        background: none; }
      .sessions__wrapper h2::after {
        background: none; }
  .sessions__list {
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "big-item item-1" "big-item item-2" "item-3 item-4"; }
  .sessions__item:nth-child(1) {
    height: 100%; }
  .sessions__item span {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 22px; } }

.reviews {
  background: #162831; }

.reviews__wrapper {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .reviews__wrapper h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "El-messiri", "Arial", sans-serif;
    padding-top: 140px;
    font-size: 42px;
    color: #ffffff;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden; }
    .reviews__wrapper h2::before {
      content: "";
      position: absolute;
      top: 168px;
      left: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      overflow: hidden; }
    .reviews__wrapper h2::after {
      content: "";
      position: absolute;
      top: 168px;
      right: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px; }

.reviews__list {
  margin: 0; }

.swiper {
  width: 1400px;
  height: 390px;
  margin: 0;
  position: relative; }

.swiper-wrapper {
  margin: 0; }

.swiper-slide {
  max-width: 414px;
  height: 276px;
  background: rgba(0, 138, 191, 0.5);
  position: relative;
  transform: scale(0.9);
  color: #ffffff;
  opacity: 0.5;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px; }
  .swiper-slide h3 {
    font-size: 18px; }
  .swiper-slide p {
    font-size: 14px; }

.swiper-slide.swiper-slide-active {
  transform: scale(1);
  transition: transform 0.2s;
  opacity: 1;
  background: #008abf; }

@media (max-width: 1400px) {
  .reviews__wrapper {
    padding-left: 16px;
    padding-right: 16px; }
  .swiper {
    width: 900px;
    height: 400px; }
  .swiper-wrapper {
    width: 900px; }
  .swiper-slide {
    max-width: 247px;
    height: 300px; }
    .swiper-slide p {
      font-size: 12px; }
    .swiper-slide h3 {
      margin-top: 0; } }

@media (max-width: 1023px) {
  .reviews__wrapper h2 {
    padding-bottom: 20px;
    font-size: 26px; }
    .reviews__wrapper h2::before {
      background: none; }
    .reviews__wrapper h2::after {
      background: none; }
  .swiper {
    width: 288px; }
  .swiper-wrapper {
    width: 250px; }
  .swiper-slide {
    max-width: 248px; } }

.about {
  background: #162831; }

.about__wrapper {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__wrapper h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 42px;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
    width: 300px;
    overflow: hidden; }
    .about__wrapper h2::before {
      content: "";
      position: absolute;
      top: 128px;
      left: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      overflow: hidden; }
    .about__wrapper h2::after {
      content: "";
      position: absolute;
      top: 128px;
      right: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px; }

.about__container {
  display: flex;
  justify-content: center; }
  .about__container img {
    border-radius: 10px; }
  .about__container:nth-child(3) {
    padding-top: 80px;
    flex-direction: row-reverse; }
    .about__container:nth-child(3) .about__inner-wrapper {
      padding-right: 0;
      padding-left: 60px; }
    .about__container:nth-child(3) .about__inner-wrapper h3 {
      margin-top: 40px; }

.about__inner-wrapper {
  max-width: 500px;
  padding-right: 60px; }
  .about__inner-wrapper h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 80px; }
  .about__inner-wrapper p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300; }

@media (max-width: 1200px) {
  .about__wrapper {
    padding-left: 16px;
    padding-right: 16px; }
  .about__container:nth-child(3) .about__inner-wrapper {
    padding-right: 20px; } }

@media (max-width: 1023px) {
  .about__wrapper h2 {
    padding-top: 40px;
    font-size: 26px;
    padding-bottom: 0; }
    .about__wrapper h2::before {
      background: none; }
    .about__wrapper h2::after {
      background: none; }
  .about__container {
    flex-direction: column;
    align-items: center; }
    .about__container img {
      width: 400px;
      height: auto; }
    .about__container:nth-child(3) {
      padding-top: 20px;
      flex-direction: column;
      align-items: center; }
      .about__container:nth-child(3) .about__inner-wrapper {
        padding-left: 0;
        padding-right: 0; }
  .about__inner-wrapper {
    padding-right: 0; }
    .about__inner-wrapper h3 {
      margin-top: 20px;
      font-size: 18px; } }

@media (max-width: 500px) {
  .about__container img {
    width: 88%; } }

.price {
  background: #162831; }

.price__wrapper {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .price__wrapper h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 42px;
    font-family: "El-messiri", "Arial", sans-serif;
    color: #ffffff;
    padding-bottom: 70px;
    position: relative;
    width: 380px;
    overflow: hidden; }
    .price__wrapper h2::before {
      content: "";
      position: absolute;
      top: 30px;
      left: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      overflow: hidden; }
    .price__wrapper h2::after {
      content: "";
      position: absolute;
      top: 30px;
      right: -100px;
      width: 28px;
      height: 14px;
      background: #018abe;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px; }

.price__container {
  display: flex;
  justify-content: center;
  position: relative; }
  .price__container img {
    border-radius: 10px; }

.price__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  margin-right: 80px;
  padding-top: 80px; }

.price__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .price__item span {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff; }
  .price__item span:nth-child(2) {
    font-family: "El-messiri", "Arial", sans-serif; }

.price__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .price__image-wrapper span {
    color: #ffffff;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 21px;
    padding-top: 30px; }

@media (max-width: 1200px) {
  .price__wrapper {
    padding-left: 16px;
    padding-right: 16px; }
  .price__container img {
    width: 430px;
    height: auto; }
  .price__list {
    margin-right: 22px; }
  .price__item span {
    font-size: 16px; } }

@media (max-width: 1023px) {
  .price__wrapper h2::before {
    background: none; }
  .price__wrapper h2::after {
    background: none; }
  .price__container img {
    width: 90%; } }

@media (max-width: 767px) {
  .price__wrapper h2 {
    padding-bottom: 0;
    font-size: 24px;
    width: 260px; }
  .price__container {
    flex-direction: column;
    align-items: center; }
  .price__list {
    padding-top: 30px;
    width: 90%;
    margin-right: 0; } }

@media (max-width: 500px) {
  .price__container img {
    width: 90%; }
  .price__image-wrapper span {
    font-size: 16px;
    padding-top: 16px; } }

.addresses {
  background: #162831; }

.addresses__wrapper {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "map con-1" "map con-2";
  padding-bottom: 50px; }

.addresses__map {
  overflow: hidden;
  grid-area: map;
  border-radius: 10px;
  max-width: 856px; }

.addresses__container {
  background: #018abe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 420px; }
  .addresses__container:nth-child(2) {
    grid-area: con-1; }
  .addresses__container:nth-child(3) {
    grid-area: con-2; }
  .addresses__container h3 {
    color: #ffffff;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 24px;
    margin-left: 40px;
    margin-top: 40px; }
  .addresses__container span {
    padding-left: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .addresses__container span svg {
      padding-right: 20px; }
  .addresses__container button {
    display: block;
    width: 200px;
    font-family: inherit;
    color: #018abe;
    font-size: 13px;
    border-radius: 3px;
    background: #ffffff;
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 40px;
    margin-top: 13px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.4s; }
    .addresses__container button:hover {
      background: #018abe;
      outline: 2px solid #ffffff;
      color: #ffffff; }
    .addresses__container button:active {
      opacity: 0.4; }

@media (max-width: 1400px) {
  .addresses__wrapper {
    padding-left: 16px;
    padding-right: 16px; } }

@media (max-width: 1023px) {
  .addresses__container {
    width: 330px; }
    .addresses__container h3 {
      margin-left: 22px; }
    .addresses__container span {
      padding-left: 22px; }
    .addresses__container button {
      margin-left: 22px; } }

@media (max-width: 767px) {
  .addresses__wrapper {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "map" "con-1" "con-2";
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px; }
  .addresses__map {
    max-height: 400px; }
  .addresses__container {
    justify-self: center; } }

@media (max-width: 500px) {
  .addresses__container {
    width: 100%; }
    .addresses__container h3 {
      padding-right: 30px;
      line-height: 28px; } }

.footer {
  background: #162831; }

.footer__wrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  position: relative; }
  .footer__wrapper::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: #ffffff; }
  .footer__wrapper span:nth-child(2) {
    font-weight: 700; }

.footer__wrapper.no-lines::before {
  background: none; }

@media (max-width: 1200px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center; }
    .footer__wrapper span {
      padding-bottom: 10px; } }

.news {
  background: #162831;
  position: relative; }

.news__wrapper {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px; }
  .news__wrapper h2 {
    color: #ffffff;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 42px;
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
    position: relative; }

.news__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  padding-bottom: 150px; }

.news__item {
  background-color: #018abe;
  height: 258px;
  border-radius: 10px;
  background-image: url("../img/session-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .news__item a {
    display: flex;
    flex-direction: column; }
    .news__item a:hover span:nth-child(2) {
      text-decoration: underline; }
    .news__item a:active span:nth-child(2) {
      opacity: 0.6; }
  .news__item .news__date {
    color: #ffffff;
    background: #018abe;
    padding: 6px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 30px; }
  .news__item .news__name {
    color: #ffffff;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 21px;
    position: relative;
    z-index: 20;
    margin-left: 40px;
    margin-top: 140px; }
  .news__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 138, 190, 0.5); }

@media (max-width: 1023px) {
  .news__list {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 767px) {
  .news__list {
    grid-template-columns: 1fr; }
  .news__item {
    background-position: 50%; } }

@media (max-width: 500px) {
  .news__item .news__date {
    margin-left: 18px; }
  .news__item .news__name {
    margin-left: 18px; } }

.format {
  background: #162831; }

.format__wrapper {
  max-width: 1300px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px; }
  .format__wrapper h2 {
    margin-top: 0;
    text-align: center;
    color: #ffffff;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 42px;
    padding-top: 40px; }

.format__container {
  display: flex;
  position: relative;
  padding-bottom: 100px; }
  .format__container img {
    border-radius: 10px; }

.format__inner-wrapper {
  padding-right: 100px; }
  .format__inner-wrapper .format__date {
    color: #ffffff;
    background: #018abe;
    padding: 6px;
    display: block;
    width: 90px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    position: relative;
    z-index: 20;
    border-radius: 5px; }
  .format__inner-wrapper h3 {
    color: #ffffff;
    font-size: 24px;
    font-family: "El-messiri", "Arial", sans-serif; }
  .format__inner-wrapper p {
    font-family: inherit;
    font-size: 16px;
    color: #ffffff; }

@media (max-width: 1400px) {
  .format__container img {
    width: 480px;
    height: auto;
    max-height: 350px;
    -o-object-fit: cover;
       object-fit: cover; } }

@media (max-width: 1200px) {
  .format__inner-wrapper {
    padding-right: 20px; }
  .format__container img {
    margin-top: 60px; } }

@media (max-width: 1023px) {
  .format__wrapper h2 {
    font-size: 26px; }
  .format__container {
    flex-direction: column;
    align-items: center; }
    .format__container img {
      width: 410px;
      max-height: 270px;
      margin-top: 20px; } }

@media (max-width: 500px) {
  .format__container img {
    width: 90%;
    height: auto; }
  .format__inner-wrapper {
    padding-right: 0; }
    .format__inner-wrapper h3 {
      font-size: 18px; }
    .format__inner-wrapper p {
      font-size: 16px; } }

.blog {
  background: #162831; }

.blog__wrapper {
  max-width: 1300px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px; }
  .blog__wrapper h2 {
    margin-top: 0;
    padding-top: 36px;
    color: #ffffff;
    font-family: "El-messiri", "Arial", sans-serif;
    font-size: 42px;
    text-align: center; }

.blog__list {
  list-style-type: 0;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 100px; }

.blog__item {
  display: flex;
  margin-bottom: 48px;
  border: 2px solid #018abe;
  border-radius: 16px;
  padding: 46px; }
  .blog__item:last-child {
    margin-bottom: 0; }
  .blog__item img {
    border-radius: 10px; }

.blog__container {
  padding-left: 50px; }
  .blog__container .blog__date {
    color: #ffffff;
    background: #018abe;
    padding: 6px;
    width: 120px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    position: relative;
    z-index: 20;
    border-radius: 5px; }
  .blog__container h3 {
    color: #ffffff;
    font-size: 24px;
    font-family: "El-messiri", "Arial", sans-serif; }
  .blog__container p {
    color: #ffffff; }
  .blog__container a {
    color: #ffffff;
    background: #018abe;
    padding: 10px;
    width: 160px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    margin-top: 30px;
    border: 0;
    cursor: pointer; }
    .blog__container a:hover {
      background: #ffffff;
      box-shadow: 0 0 18px 0 #018abe;
      color: #018abe; }
    .blog__container a:active {
      opacity: 0.5; }

@media (max-width: 1200px) {
  .blog__item {
    padding: 36px;
    align-items: center; }
    .blog__item img {
      width: 400px;
      height: auto;
      max-height: 337px; }
  .blog__container button {
    margin-top: 16px; } }

@media (max-width: 1023px) {
  .blog__item {
    flex-direction: column;
    padding: 18px; }
    .blog__item img {
      width: 430px; }
  .blog__container {
    margin-top: 20px;
    padding-left: 0; } }

@media (max-width: 500px) {
  .blog__wrapper h2 {
    font-size: 26px; }
  .blog__item img {
    width: 100%; } }

.modal__wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 296px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  z-index: 28;
  border-radius: 10px;
  -webkit-animation: slide-up-down 0.4s 1 cubic-bezier(0.17, 0.84, 0.44, 1);
          animation: slide-up-down 0.4s 1 cubic-bezier(0.17, 0.84, 0.44, 1); }

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .modal__form legend {
    font-size: 22px;
    color: #000000;
    font-family: "El-messiri", "Arial", sans-serif;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
  .modal__form button {
    font-size: 14px;
    color: #ffffff;
    font-family: inherit;
    background: #018abe;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s;
    margin-top: 16px; }
    .modal__form button:hover {
      background: #ffffff;
      box-shadow: 0 0 18px 0 #018abe;
      color: #018abe;
      border: 2px solid #018abe; }
    .modal__form button:active {
      transform: translateY(2px);
      transition: all 0.1s; }
  .modal__form p {
    font-size: 13px;
    width: 374px;
    margin-top: 20px;
    padding-left: 25px;
    position: relative; }
    .modal__form p a {
      color: #018abe;
      text-decoration: underline; }
    .modal__form p::before {
      content: "*";
      font-size: 30px;
      position: absolute;
      color: #ea7f1e;
      left: 0;
      top: -8px; }

.modal__form-field {
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 17px; }
  .modal__form-field input {
    border: 0;
    padding: 7px 20px 10px;
    font-size: 18px;
    color: #000000;
    width: 180px;
    background: #d9d9d9;
    border-radius: 5px;
    font-family: inherit; }
  .modal__form-field input:focus {
    outline: none; }
  .modal__form-field input:valid + label {
    transform: translateY(-24px);
    font-size: 13px; }
  .modal__form-field label {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 16px;
    font-family: inherit;
    transition: all 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
  .modal__form-field input:focus ~ label {
    transform: translateY(-24px);
    font-size: 13px; }
  .modal__form-field span {
    color: #ea7f1e; }

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer; }
  .modal__close-button::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    transform: rotate(45deg);
    background: #000000;
    left: 0; }
  .modal__close-button::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    transform: rotate(-45deg);
    background: #000000;
    left: 0; }
  .modal__close-button:hover::before {
    background: #018abe; }
  .modal__close-button:hover::after {
    background: #018abe; }
  .modal__close-button:active {
    transform: translateY(2px);
    transition: all 0.1s; }
